/* GLOBAL */
body {
  font-family: "Roboto", sans-serif;
}

.gn-wrapper-85 {
  width: 85%;
  margin: 0 auto;
}
.gn-wrapper-60 {
  width: 60%;
  margin: 0 auto;
}

/* formattazione font */
h1 {
  font-size: 63px;
  color: white;
}

h2 {
  font-size: 35px;
  font-weight: 500;
}

p {
  font-size: 22px;
}

.small {
  font-size: 13px;
  margin-top: 12px;
}

.medium {
  font-size: 16px;
}

.gn-text-white {
  color: #afc4ff;
}

.gn-text-blu {
  color: #0069ff;
}

.gn-text-blu-night {
  color: #031c4e;
}

.gn-text-grey {
  color: #5c6a88;
}

.gn-text-green {
  color: #00c1cd;
}

.box-jb h4 {
  font-size: 29px;
}

.gn-fw-500 {
  font-weight: 500;
}

.gn-bb-w {
  border-bottom: 1px solid white;
}

/* formatazione margin & padding */
.gn-mb-20 {
  margin-bottom: 20px;
}

.gn-pd-50 {
  padding: 50px 0;
}

.gn-pt-50 {
  padding-top: 50px;
}

.gn-pt-70 {
  padding-top: 70px;
}
.gn-pb-90 {
  padding-bottom: 90px;
}

.gn-pt-30 {
  padding-top: 30px;
}

.gn-padding-left-40 {
  padding-left: 60px;
}

.gn-pr-5 {
  padding-right: 5px;
}
.gn-pd-right {
  padding-right: 30px;
}

/* bottoni */
.gn-btn {
  border: 1px solid #0069ff;
  background-color: white;
  color: #0069ff;
}

.btn-color-blue {
  color: #0069ff;
  background-color: white;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 16px;
  margin: 20px 0 40px 0;
}
/* (bottoni jumbotron) */
.gn-btn-jb {
  display: block;
  width: 100%;
  border: none;
  color: white;
  background-color: #579aff;
  margin-bottom: 5px;
}

.gn-btn-jb-special {
  position: relative;
  color: #626262;
  background-color: white;
  box-shadow: 1px 1px 3px #d2d8dfea;
  font-weight: 600;
}

.gn-btn-jb-special img {
  position: absolute;
  top: 8px;
  left: 15px;
  width: 18px;
}

/* colore */
.blu-sfumato {
  background-image: linear-gradient(359deg, #00219c, #0044c2);
  color: white;
  padding: 20px 60px;
}

.gn-bk-gray {
  background-color: #f3f5f9;
  min-height: 275px;
}

.gn-bk-wh{
  background-color: white;
  border-radius: 5px;
}
/* HEADER */
.gn-header-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 5px;
  height: 73px;
  line-height: 73px;
  z-index: 999;
  background-color: white;
}

.gn-header-fixed img {
  max-width: 160px;
}

.gn-header-fixed nav li {
  display: inline-block;
  list-style: none;
  padding: 0 9px;
  vertical-align: middle;
}

.gn-header-fixed nav li a,
i {
  text-decoration: none;
  color: #062051;
  font-size: 16px;
  font-weight: 400;
}

/* MAIN */

/* jumbotron */
.gn-main-jumbotron {
  min-height: 490px;
  margin-top: 73px;
  background-image: url(../img/bg-banner-home.jpg);
  background-position: 46%;
  background-size: 110% 100%;
  padding: 60px 30px;
}

.box-jb {
  background-color: white;
  border-radius: 5px;
  padding: 30px 20px;
}

.box-jb a {
  text-decoration: underline;
}

.form-group ::placeholder {
  font-weight: 500;
  font-size: 16px;
}

/* parte sponsor */
.sponsor {
  width: 100%;
  height: 100px;
}

/* sezione con annidamenti nelle col di dx */
.gn-list {
  list-style: none;
  padding: 10px;
  border-left: 2px solid #cccccc;
}

.gn-list li a {
  font-size: 18px;
  color: #75809a;
}

/* sezione con immagine al centro  */
.freccia i {
  margin-top: 180px;
  font-size: 35px;
  color: #6f7b97;
}

.freccia:hover i {
  font-size: 40px;
  color: #031c4e;
  padding: 0 5px;
  cursor: pointer;
}

.list-inline > li {
  padding: 0;
}

.list-inline li i:active,
.blu-select {
  background-color: #0069ff;
  border-radius: 50%;
}

.gn-size-img {
  max-width: 100%;
  max-height: 390px;
}

.gn-box-img {
  width: 100%;
  height: 390px;
  background-color: white;
  border-radius: 5px;
}
.gn-box-img img {
  width: 300px;
}

/* test speed */
.gn-space-regions {
  margin: 0 1px;
  padding: 10px 0;
  font-size: 90%;
}

/* FOOTER */
footer {
  background-color: #041d4e;
}

footer h4 {
  color: white;
}
footer img {
  width: 40px;
}

footer span {
  color: #586685;
}
.gn-text-footer {
  color: #7a859d;
}

footer .list-inline li a i {
  font-size: 24px;
  margin-right: 10px;
}
footer ul li {
  margin-top: 10px;
}
footer ul li a {
  color: #8b94a9;
}
footer a:hover,
footer a:hover i {
  text-decoration: none;
  color: white;
}

/* Help Chat */
.container-shark{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  padding: 40px;
  text-align: left;
  vertical-align: bottom;
  cursor: pointer;
}

.gn-chat-left,
.gn-chat-right{
  position: relative;
  float: right;
  height: 80px;
}

.gn-chat-left{
  width: 350px;
  margin-right: 20px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
}

.gn-chat-left > div{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
}
/*Triangolo Laterale Chat*/
.gn-chat-left > div::after{
  position: absolute;
  top:80%;
  right: -7px;
  content: '';
  display: block;
  width: 0;
  height: 0;
  transform: translateY(-80%);
  /* triangolo */
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid white;
}
.gn-chat-right{
  width: 60px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
}
.gn-avatar{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: #0069FF;
  border-radius: 5px;
}
.gn-chat-right img{
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gn-chat-right .gn-number{
  position: absolute;
  top:-9px;
  right:-9px;
  z-index: 2;
  width: 30px;
  height: 30px;
  background: red;
  border-radius: 100%;
  border: 4px solid white;
}
.gn-chat-right .gn-number span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8em;
  color: white;
}

@media screen and (max-width: 780px) {
  .gn-chat-left{
    max-width: 100%;
    float: none;
  }
  .gn-chat-right{
    float: none;
  }
  .gn-avatar,
  .gn-chat-left > div{
    position: relative;
  }
}

@media screen and (max-width: 440px) {
  .container-shark {
    display: none;
  }
}
/* media-query */
@media all and (max-width: 1200px) {
  .gn-main-jumbotron h1 {
    font-size: 45px;
  }
  .gn-main-jumbotron .txt-jb {
    font-size: 20px;
  }
}

