/* global */
body{
  font-family: 'Roboto', sans-serif;
}

.gn-wrapper-85 {
  width: 85%;
  margin: 0 auto;
}
.gn-wrapper-60 {
  width: 60%;
  margin: 0 auto;
}

/* formatazione font */
h1{
  font-size: 55px;
  color: white;
}

h2{
  font-size: 35px;
  font-weight: 500;
}

p{
  font-size: 20px;
}

.small{
  font-size: 13px;
  margin-top: 12px;
}

.medium{
  font-size: 16px;
}

.gn-text-white{
  color: #AFC4FF;
}

.gn-text-blu{
  color: #006AFF;
}

.gn-text-blu-night{
  color: #031C4E;

}

.gn-text-grey{
  color: #5C6A88;
}

.gn-fs-29{
  font-size: 29px;
}

.gn-font-bs{
  font-size: 16px;
  font-weight: 500;
  color: #76819C;
}

/* formatazione margin & padding */
.gn-mb-20 {
  margin-bottom: 20px;
}

.gn-pd-50 {
  padding: 50px 0;
}

.gn-pd-30 {
  padding: 0 30px;
}
.gn-pt-50 {
  padding-top: 50px;
}

.gn-pt-30 {
  padding-top: 30px;
}

.gn-padding-left-40{
  padding-left: 60px; 
}

.gn-pd-right {
  padding-right: 7px;
}

/* colore */
.green {
  background-color: greenyellow;
  min-height: 340px;
}

.orange {
  background-color: rgb(230, 146, 21);
  min-height: 100px;
}

.sky {
  background-color: rgb(22, 195, 207);
  min-height: 370px;
}

.gn-bk-gray{
  background-color: #F3F5F9;
  min-height: 275px;
}

.blu {
  background-color: rgb(24, 152, 238);
  min-height: 255px;
}

.viola {
  background-color: rgb(195, 24, 238);
  border: 1px solid black;
  min-height: 70px;
}


/* header */
.gn-header-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 5px;
  height: 73px;
  line-height: 73px;
  z-index: 999;
  background-color: white;
}

.gn-header-fixed img{
  max-width: 160px;
}

.gn-header-fixed nav li {
  display: inline-block;
  list-style: none;
  padding: 0 9px;
  vertical-align: middle;
}

.gn-header-fixed nav li a,i{
  text-decoration: none;
  color: #062051;
  font-size: 16px;
  font-weight: 400;
}

.gn-btn{
  border: 1px solid #006AFF;
  background-color: white;
  color: #006AFF;
}

/* jumbotron */
.gn-main-jumbotron {
  min-height: 490px;
  margin-top: 73px;
  background-image: url(../img/bg-banner-home.jpg);
  background-position: 46%;
  background-size: 110% 100%;
  padding: 60px 30px;
}

.box-jb{
  background-color: white;
  border-radius: 5px;
  padding: 30px 20px;
  margin: 0px 48px;
}

.box-jb  a{
  text-decoration: underline;
}

.gn-btn-jb{
  display: block;
  width: 100%;
  border: none;
  color: white;
  background-color: #579AFF;
  margin-bottom: 5px;
}

.gn-btn-jb-special{
  position: relative;
  color: #626262;
  background-color: white;
  box-shadow: 1px 1px 3px #d2d8dfea;
  font-weight: 600;
}

.gn-btn-jb-special img{
  position: absolute;
  top: 8px;
  left: 15px;
  width: 18px;
}

.form-group ::placeholder{
  font-weight: 500;
  font-size: 16px;
}


.gn-list{
  list-style: none;
  padding-left: 10px;
  border-left: 1px solid #CCCCCC;
}

.gn-list li{
  padding-bottom: 15px;
  font-size: 20px;
  color: #75809A;
}

/* sezione con img */

.sponsor{
  width: 100%;
  height: 100px;
}
.prova-img {
  height: 400px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 30px;
  background-color: lightcoral;
}

.freccia {
  line-height: 400px;
  font-size: 35px;
}

/* footer */
footer {
  background-color: #b6108c;
}
